@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html,
  * {
  padding: 0;
  margin: 0 auto;
  font-family: 'Mingzat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-top: 35rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-top: 0;
    min-width: 100%;
  }
}
